//Colors
@import 'client_colors.scss';
//Fonts
@import 'client_fontface.scss';
$font_padrao: 'Roboto', sans-serif;
$icon: 'FontAwesome';


//Mixins Border-radius
@mixin border-radius($radius) {
	border-radius: $radius;
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
}
@mixin border-radii($topleft, $topright, $bottomright, $bottomleft) {
	border-top-left-radius: $topleft;
	border-top-right-radius: $topright;
	border-bottom-right-radius: $bottomright;
	border-bottom-left-radius: $bottomleft;
	-webkit-border-top-left-radius: $topleft;
	-webkit-border-top-right-radius: $topright;
	-webkit-border-bottom-right-radius: $bottomright;
	-webkit-border-bottom-left-radius: $bottomleft;
	-moz-border-radius-topleft: $topleft;
	-moz-border-radius-topright: $topright;
	-moz-border-radius-bottomright: $bottomright;
	-moz-border-radius-bottomleft: $bottomleft;
}

//Mixins Vertical-align
@mixin vertical-align {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}


//Mixins Placeholder
@mixin optional-at-root($sel) {
  @at-root #{if(not &, $sel, selector-append(&, $sel))} {
    @content;
  }
}

@mixin placeholder {
  @include optional-at-root('::-webkit-input-placeholder') {
    @content;
  }

  @include optional-at-root(':-moz-placeholder') {
    @content;
  }

  @include optional-at-root('::-moz-placeholder') {
    @content;
  }

  @include optional-at-root(':-ms-input-placeholder') {
    @content;
  }
}
.br-left {
  border-radius: 5px 0 0 5px !important;
}
.br-right {
  border-radius: 0 5px 5px 0 !important;
}
//Mixins animation
@mixin fade-up-in($vendor: "") {
  0% {
    opacity: 0;
    #{$vendor}transform: translateY(20px);
  }
  100% {
    opacity: 1;
    #{$vendor}transform: translateY(0);
  }
}

//Placeholder
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $gray !important;  
  font-size: 0.9rem;
}
::-moz-placeholder { /* Firefox 19+ */
  color: $gray !important;  
  font-size: 0.9rem;
}
:-ms-input-placeholder { /* IE 10+ */
  color: $gray !important;  
  font-size: 0.9rem;
}
:-moz-placeholder { /* Firefox 18- */
  color: $gray !important;  
  font-size: 0.9rem;
}
.hidden {
  display: none !important;
  transition: 0.3s;
}
.btn_client {
  background: $yellow;
  color: $gray;
  transition: 0.3s;
    &:hover {
      background: $orange;
      color: #ffffff;
      transition: 0.3s;
    }
}
input[type="checkbox"]{
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  background: #ffffff;
  border: 1px solid $orange;
  box-sizing: border-box;
  position: relative;
  box-sizing: content-box ;
  width: 30px;
  height: 30px;
  border-width: 1;
  transition: all .3s linear;
  @include border-radius (3px);
  &:checked{
    background-color: $yellow-50;
    text-align: center;
    &:after {
      content: '\f00c';
      font-family: 'Font Awesome\ 5 Free';
      font-weight: 900;       
      position: absolute;
      top: 3px;
      left: 8px;
    }
  }
  &:focus {
    outline: 0 none;
    box-shadow: none;
  }
}
.form-row {
  .btn_client {
    width: 100%;
    padding: 0.9rem;
  }
}
input[type="radio"]{
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  background: #ffffff;
  border: 1px solid $orange;
  box-sizing: border-box;
  position: relative;
  box-sizing: content-box ;
  width: 25px;
  height: 25px;
  border-width: 1;
  transition: all .3s linear;
  @include border-radius (100px);
  &:checked{
    background-color: $yellow-50;
    text-align: center;
    &:after {
      content: '\f111';
      font-family: 'Font Awesome\ 5 Free';
      font-weight: 900;       
      position: absolute;
      font-size: 0.9rem;
      top: 3px;
      left: 6px;
      color: $orange;
    }
  }
  &:focus {
    outline: 0 none;
    box-shadow: none;
  }
}
.form-check {
  .form-check-label {
    position: absolute;
    top: 9px;
    left: 41px;
  } 
}

.form-check-inline {
  .form-check-label {
    position: inherit;
    top: 2px;
    left: 1px;
  }
}
.form-control {
  color: $gray;
  border-color: $orange;      
}
.bootstrap-select {
  width: 100% !important;
  color: $gray;
  button {
    background: #fff;
    border-color: $orange;    
    &:focus,
    &:hover {
      background: #fff;
      border-color: $orange;    
    }
  }
  .dropdown-toggle {
    &.bs-placeholder {
      color: $gray;
    }
    &:before {
      display: none;
    }
    &:after {
      content: '\f0ab';
      font-family: 'Font Awesome\ 5 Free';
      font-weight: 900;
      border: 0 !important;
      margin-left: 0;
      margin-right: 12px;
      color: $orange !important;      
    }
  }
  &.show {
    .btn-light.dropdown-toggle {
      color: $gray;
      background-color: $yellow-50;
      border-color: $orange;    
    }
  }
  .dropdown-item{
    &.active {
      background-color: $yellow-50;
      color: $gray;
    }
  }
}
body {
  color: $gray;
}

//Header
header {
  .navbar {
    padding: 0 1.0rem;
    &.bg-light {
      background-color: #ffffff !important;
    }    
    .nav-item {      
      .nav-link {
        padding-right: 1.1rem;
        padding-left: 1.1rem;
        @include border-radius (30px); 
        color: $gray;
        transition: 0.3s; 
        &:hover {
          background: $yellow;
          transition: 0.3s;    
        }      
      }
      &.active {
        background: $yellow;        
        @include border-radius (30px); 
      }
    }  
  }  
  figure {
    margin-bottom: 0;
  }
  .social_header {
    list-style: none;
    padding: 0;
    margin: 0 0 0 20px;
      li {
        display: inline-block;
        margin: 5px;
        font-size: 1.2rem;
          a {
            color: $gray;
            &:hover {
              color: $yellow;
              transition: 0.3s;
            }
          }
      }
  }
}
//Solicite
.solicite {
  width: 100%;
  height: 481px;
  background: #fff;
  position: absolute;
  z-index: 2;
  h2 {
    padding-top: 15px;
    text-align: center;
    font-size: 1.7rem;
    font-weight: 900;
    font-style: italic;
    color: $gray;
  }
  .nav-link {
    color: #ffffff;
    background-color: $orange;      
    padding: 0.5rem 2.85rem;          
    text-transform: uppercase;
    font-weight: 700;
    &.active {
      background-color: $yellow;
      color: $gray;
    }
  }
  ul {
    margin-top: 20px;
  }
  .tab-content {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

//Simule
#modalSimule {
  .modal-md {
    max-width: 380px;
  }
}
.simule {
  padding-top: 10px;
  padding-bottom: 20px;
  h2 {
    padding-top: 15px;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 20px;
    font-weight: 900;
    font-style: italic;
    color: $gray;
  }
  .close {
    color: $gray;
    opacity: 1;
    line-height: 1.4rem;
    text-shadow: 0;
    text-decoration: underline;
    font-size: 0.8rem;
  }    
}

//Carousel
.carousel {
  margin-bottom: 50px;
  .chamadaFixa {
    position: absolute;
    font-weight: 700;
    font-size: 2.8rem;
    color: $gray;
    line-height: 2.8rem;
    margin-top: 30px;
    left: 5%;
    font-style: italic;
  }
  .carousel-inner {
    height: 480px;
    width: 100%;                
    background-color: rgb(0,0,0);
    background: linear-gradient(120deg, rgba(0,0,0,0) 50%, rgb(255,221,0) 0);
    &:before {
      content: '';
      position: absolute;
      height: 480px;
      width: 100%;                
      background-image: url('../images/bg-carousel-home.png');
      background-position: center right;
      background-repeat: repeat-x;
      background-size: 100% auto;
    }
    .carousel-item {
      img {
        float: right;
        height: 380px;
        margin-top: 50px;          
      }
    }    
  }
  .carousel-caption {
    position: relative;
    color: $gray; 
    text-align: left;
    height: 480px;
    .infosCar {
      @include vertical-align(); 
      h2 {
        font-weight: 700;
        font-style: italic;
        font-size: 2.7rem;
        margin-bottom: 0;        
      }
      h4 {
        font-size: 0.9rem;
        font-weight: 300;        
        font-style: italic;
        span {
          font-weight: 400;        
          background: $orange;
          padding: 7px;
          font-size: 1rem;
          color: #ffffff;
        }
      }
      .btn {
        margin-top: 10px;
      }
    }
  }
  .carousel-indicators {
    li {
      background-color: $orange;
      width: 15px;
      height: 5px;
      &.active {
        background-color: $gray; 
      }
    }    
  }
}  

//Sections
section {
  padding-top: 30px;
  padding-bottom: 30px;
  .title {
    font-weight: 900;
    font-style: italic;
    font-size: 1.4rem;
  }
}

#showRoom {
  h2 {
    display: inline-block;
  }
  .scale-anm {
    transform: scale(1);
  }
  .nav {
    float: right;
    &:before {
      content: '*Selecione um tipo de veículo:';
      margin-right: 10px;
      padding-top: 6px;
      font-size: 0.8rem;
    }
    .nav-link {
      color: #ffffff;
      background-color: $orange;
      border-radius: 0;  
      padding: .2rem 1rem;          
      &.active {
        background-color: $yellow;
        color: $gray;
      }
    }    
  }
  #veiculos {
    padding: 30px 0; 
    .veic_thumb {
      width: 255px;
      height: 143px;  
      margin-bottom: 30px;      
      overflow: hidden;
      position: relative;
      figure {
        transition: 0.3s;
      }
      .info_veic {
        text-align: center;
        background: $yellow-50;
        width: 243px;
        height: 131px;
        padding: 5px;
        border: 1px solid $orange;
        top: 0;
        position: absolute;
        opacity: 0;
        transition: 0.3s;
        .cont {
          @include vertical-align ();
          h3 {
            margin-bottom: 0;
            font-weight: 900;        
            font-size: 1.4rem;
            font-style: italic;
          }
          .parc {
            font-size: 0.8rem;
            display: block;
            width: 150px;
            margin: 0 auto;
            text-align: left;
            span {
              display: table;              
              margin-bottom: 10px;
              font-weight: 400;        
              background: $gray;
              padding: 7px;
              font-size: 0.8rem;
              color: #ffffff;
            }
          }
          .btn_client {
            background: $orange;
            color: #ffffff;
            padding: 4px 5px;
            font-size: 0.9rem;
          }
        }  
      } 
      &:hover {
        .info_veic {
          opacity: 1;
          transition: 0.3s;
        }
        figure {
          opacity: 0.2;
          transition: 0.3s;
        }
      }     
    }
  }
}

//Fique por Dentro
#fpDentro {
  .row {
    margin-bottom: 40px;
  }
  .pdl-0 {
    padding-left: 0;
  }
  .pdr-0 {
    padding-right: 0;    
  }
  .pd-l-10 {
    padding-left: 10px;
  }
  .pd-r-11 {
    padding-right: 11px;
  }
  .news {
    display: flex;
    figure {
      margin-bottom: 0;
      width: 280px;
      height: auto;  
    }
    &.txl{
      text-align: left;
    }
    &.txr{
     text-align: right;      
    }
    .date {
      background: $orange;
      display: table;
      padding: 2px 4px;
      position: absolute;
      top: 20px;
      color: #fff;
      .day{
        font-weight: 300;  
        margin-right: 3px;
        font-style: italic;
      }
      .month {
       font-weight: 700; 
       font-style: italic;  
      }
    }    
  }
  article {
    padding: 5px 10px;
    color: $gray;
    height: 183px;
    overflow: hidden;
    position: relative;
    div {
      @include vertical-align (); 
      h3 {
        font-size: 1.1rem;
      } 
      p {
        font-size: 0.8rem;
      }
      a {
        color: $gray;
        font-style: italic;
        text-decoration: underline;
      }
    }  
  }
}

//Duvidas
#duvidas {
  .col-md-12 {
    display: flex;    
  } 
  figure {
    margin-top: -77px;
  }
  &:before {
    left: 0;
    position: absolute;
    content: '';
    width: 100%;
    height: 150px;
    background: $yellow;
  }
  .chamada {
    padding: 10px 0;
    h3 {
      color: $gray;
      font-weight: 700;
      font-style: italic;
      margin-bottom: 0; 
    }
    p {
      font-size: 0.9rem;
    }
    .btn_client {
      background: $orange;
      color: #ffffff;
      padding: 4px 5px;
      font-size: 0.9rem;
      &:hover {
        background: $brown;
      }
    }
  }
}

//Footer
footer {
  border-bottom: 3px solid $yellow;
  padding-bottom: 10px;
  .infos_footer {
    border-bottom: 1px solid $gray;
    margin-bottom: 10px;
    display: flex; 
    justify-content: space-around;
    text-align: center;
    .central_vendas {
      font-size: 0.7rem;      
      strong {
        font-weight: 700;
        font-size: 1.0rem;
        font-style: italic;        
        padding: 0 2px;
      }
    }
    .social {
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        &:before {
          content: 'Sigam nossas Redes Sociais:';          
          font-size: 0.7rem;
          height: 30px;
          vertical-align: middle;
          display: inline-block;          
        }
          li {
            display: inline-block;            
            margin: 0 5px;
            a {
              color: $gray;
              font-size: 1.4rem;
              &:hover {
                color: $yellow;
                transition: 0.3s;
              }
            }
          }
      }
    }
  }
  .nav_footer {
    list-style: none;
    margin: 0;
    padding: 0;
      li {
        display: inline-block;
        margin: 5px 5px 15px;
        a {
            color: $gray;
            font-size: 0.9rem;
            font-weight: 700;
            &:hover {
              color: $yellow;
              transition: 0.3s;
              text-decoration: none;
            }
          }
      }
  }
  .copy {
    font-size: 0.7rem;
  }
}

//Media Queries
@import 'client_style_queries.scss';