//Colors
@import 'client_colors.scss';
//Fonts
@import 'client_fontface.scss';
$font_padrao: 'helvetica_r', sans-serif;
$icon: 'FontAwesome';


//Mixins Border-radius
@mixin border-radius($radius) {
	border-radius: $radius;
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
}
@mixin border-radii($topleft, $topright, $bottomright, $bottomleft) {
	border-top-left-radius: $topleft;
	border-top-right-radius: $topright;
	border-bottom-right-radius: $bottomright;
	border-bottom-left-radius: $bottomleft;
	-webkit-border-top-left-radius: $topleft;
	-webkit-border-top-right-radius: $topright;
	-webkit-border-bottom-right-radius: $bottomright;
	-webkit-border-bottom-left-radius: $bottomleft;
	-moz-border-radius-topleft: $topleft;
	-moz-border-radius-topright: $topright;
	-moz-border-radius-bottomright: $bottomright;
	-moz-border-radius-bottomleft: $bottomleft;
}

//Mixins Vertical-align
@mixin vertical-align {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}


//Mixins Placeholder
@mixin optional-at-root($sel) {
  @at-root #{if(not &, $sel, selector-append(&, $sel))} {
    @content;
  }
}

@mixin placeholder {
  @include optional-at-root('::-webkit-input-placeholder') {
    @content;
  }

  @include optional-at-root(':-moz-placeholder') {
    @content;
  }

  @include optional-at-root('::-moz-placeholder') {
    @content;
  }

  @include optional-at-root(':-ms-input-placeholder') {
    @content;
  }
}

//Mixins animation
@mixin fade-up-in($vendor: "") {
  0% {
    opacity: 0;
    #{$vendor}transform: translateY(20px);
  }
  100% {
    opacity: 1;
    #{$vendor}transform: translateY(0);
  }
}

//Placeholder
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $gray !important;
  font-family: 'helvetica_n' !important;
  font-size: 0.9rem;
}
::-moz-placeholder { /* Firefox 19+ */
  color: $gray !important;
  font-family: 'helvetica_n' !important;
  font-size: 0.9rem;
}
:-ms-input-placeholder { /* IE 10+ */
  color: $gray !important;
  font-family: 'helvetica_n' !important;
  font-size: 0.9rem;
}
:-moz-placeholder { /* Firefox 18- */
  color: $gray !important;
  font-family: 'helvetica_n' !important;
  font-size: 0.9rem;
}


body {
  color: $gray;
}


//Footer
footer {
  border-bottom: 3px solid $yellow;
  padding-bottom: 10px;
  .infos_footer {
    border-bottom: 1px solid $gray;
    margin-bottom: 10px;
    display: flex; 
    justify-content: space-around;
    text-align: center;
    .central_vendas {
      font-size: 0.7rem;      
      strong {
        font-size: 1.0rem;
        font-style: italic;        
        padding: 0 2px;
      }
    }
    .social {
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        &:before {
          content: 'Sigam nossas Redes Sociais:';          
          font-size: 0.7rem;
          height: 30px;
          vertical-align: middle;
          display: inline-block;          
        }
          li {
            display: inline-block;            
            margin: 0 5px;
            a {
              color: $gray;
              font-size: 1.4rem;
              &:hover {
                color: $yellow;
                transition: 0.3s;
              }
            }
          }
      }
    }
  }
  .nav_footer {
    list-style: none;
    margin: 0;
    padding: 0;
      li {
        display: inline-block;
        margin: 5px 5px 15px;
        a {
            color: $gray;
            font-size: 0.9rem;
            font-weight: bolder;
            &:hover {
              color: $yellow;
              transition: 0.3s;
              text-decoration: none;
            }
          }
      }
  }
  .copy {
    font-size: 0.7rem;
  }
}

//Media Queries
@import 'client_style_queries.scss';