<footer>
	<div class="container">
		<div class="row text-center">
			<div class="col-9 ml-auto mr-auto">
				<div class="infos_footer">
					<div class="central_vendas">
						Central de Vendas: <strong>+55 81 0000.0000 / 81 0000.0000</strong> Seg a Sex, das 09h às 18h 
					</div>
					<div class="social">
						<nav>
							<ul class="social_footer">
								<li><a href="" title="Facebook" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
								<li><a href="" title="Instagram" target="_blank"><i class="fab fa-instagram"></i></a></li>
								<li><a href="" title="Twitter" target="_blank"><i class="fab fa-twitter"></i></a></li>
							</ul>
						</nav>	
					</div>
				</div>
			</div>
			<div class="col-12">
				<nav>
					<ul class="nav_footer">
						<li><a href="" title="Quem Somos">Quem Somos</a></li>
						<li><a href="" title="Planos">Planos</a></li>
						<li><a href="" title="Opinião do Dono">Opinião do Dono</a></li>
						<li><a href="" title="Blog">Blog</a></li>
						<li><a href="" title="Contato">Contato</a></li>
						<li><a href="" title="Tire suas Dúvidas">Tire suas Dúvidas</a></li>
						<li><a href="" title="Política de Privacidade">Política de Privacidade</a></li>
						<li><a href="" title="Termos de Uso">Termos de Uso</a></li>
						<li><a href="" title="Trabalhe Conosco">Trabalhe Conosco</a></li>
					</ul>
				</nav>
				<div class="copy">© Copyright: CENTRAL DE CRÉDITOS</div>
			</div>
		</div>
	</div>
</footer>
